{% extends "base_generic.html" %}
{% block content %}
<div class="mx-auto grid" style="width: 80%;">
    {% for picture in gallery.pictures.all %}
    <div class="card bg-dark text-white hover-overlay">
        <img class="img-fluid" src="{{ picture.image.url }}"/>
        <div class="card-img-overlay content">
            <h3 class="card-title">{{ picture.title }}</h3>
            <p class="card-text"> {{ picture.description }} </p>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}